<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<title>Editar Produto</title>
</head>
<body align="center">
	<h1>Editar Produto</h1>
	<form action="#" th:action="@{/save}" th:object="${product}" method="post">
	<table>
		<tr>
			<td>Id</td>
			<td><input type="text" th:field="*{id}" readonly="readnly" class="form-control"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" th:field="*{name}" class="form-control"></td>
		</tr>
		<tr>
			<td>Marca</td>
			<td><input type="text" th:field="*{brand}" class="form-control"></td>
		</tr>
		<tr>
			<td>Made</td>
			<td><input type="text" th:field="*{madein}" class="form-control"></td>
		</tr>
		<tr>
			<td>Preço</td>
			<td><input type="text" th:field="*{price}" class="form-control"></td>
		</tr>
		<tr>
			<td colapse="2"><input class="btn btn-warning" type="submit" value="Editar"></td>
		</tr>
		</table>
	</form>
</body>
</html>